__pycache__/
*.py[cod]

.venv/
venv/

.git/
.github/

.DS_Store
Thumbs.db

.dockerignore
Dockerfile
README.md
LICENSE
*.md
*.log
*.swp
*.bak

.idea/
.vscode/

tests/
.tox/
dist/
build/
*.egg-info/
.coverage
htmlcov/
.cache/
