__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

.env
*.env

.cache/
.tox/
.coverage
*.cover
*.log
htmlcov/

instance/
*.sqlite3

dist/
build/
*.egg-info/

local.py # local runfile
