{% extends "base.j2" %}

{% block title %}home{% endblock %}

{% block content %}
	<p>Don't really know what to put on this website.</p>
	<p>Right now, it's mostly a router for my Bash scripts hosted on GitHub.</p>
{% endblock %}
